[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

[packages]
flask = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
